<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename=('/css/style.css'))}}">
    <title>Headlines</title>
</head>
<body>
    <h1>Headlines</h1>
    <div>
        <form action="/" method="GET">
            <input type="text" name="publicatigiton" placeholder="search">
            <input type="submit" value="Submit">
        </form>
    </div>
    {% for i in articles %}
        <div>
            <a href="{{i.link}}">{{i.title}}</a> <br>
            <p>{{i.summary}}</p>
            <hr>
            <em>{{i.published}}</em>
        </div>
    {% endfor %}
</body>
</html>